<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Wallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>CABEÇALHO - ADM</h1>
    <%= yield %> <%# Todas as páginas que possuem o layout "adm" presente no cabeçalho do arquivo %>
    <h1>RODAPÉ - ADM</h1>
  </body>
</html>
